<!doctype html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block content%}
{% if error%}
{{error}}
{% endif %}
<h1>Sign Up!!!!</h1>
<form class="mx-1 mx-md-4" action="{% url 'signup'%}" method="POST">
    {% csrf_token %}
    <input type="text" id="form3Example1c" class="form-control" name="username" />
    <input type="password" id="form3Example4c" class="form-control" name="new_psswd" />
    <input type="password" id="form3Example4cd" class="form-control" name="cnf_psswd" />
    <input type="submit" value="Sign Up">
</form>
{% endblock %}

</body>
</html>

